version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "2800:2800"
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    restart: unless-stopped
