version: "3.9"

services:
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "2800:2800"
    restart: unless-stopped
    command: npm start

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    restart: unless-stopped
    command: npm run dev
